@charset "UTF-8"
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}

body{
    background-image: linear-gradient(to right,#F2C12E, #F2AE30);
}

main{ background-color: white;
    width: 600px; /* width=largura*/
    border-radius: 10px; /* arredonddou as borads da parte branca*/
    box-shadow: 5px 5px 15px #5d5e61; /* lado, baixo e espalhar/transparência */
    padding: 10px;
    margin: auto; /* automaticamente vai centralizar*/
}

h1{
color: #593E25;
text-align: center;
text-shadow: 1px 1px 2px black;
}

h2{
color: #024959;
}

p{
    text-align: justify;
}